body {
    background-image: url('pexels-towfiqu-barbhuiya-9821386.jpg');
    background-size: cover;
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    
    h1 {
      text-align: center;
    }
    
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    select {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    input[type="submit"] {
      padding: 10px;
      background-color: #0066CC;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #0052A3;
    }